<div>
    <h1>Edite seu livro</h1>
    <form action="/books/updatebook" method="POST" class="form">
    <input type="hidden" name="id" value="{{book.id}}"}>
        <div class="form-control">
            <label for="title">Titulo</label>
            <input type="text" name="title" placeholder="Digite o titulo:" value="{{book.title}}">
        </div>
        <div class="form-control">
            <label for="page">Páginas</label>
            <input type="text" name="page" placeholder="Quantidade de páginas" value="{{book.page}}">
        </div>
        <div class="form-control">
            <label for="page">Descrição</label>
            <input type="text" name="dc" placeholder="Descrição" value="{{book.dc}}">
        </div>
        <input type="submit" value="editar" id="cadastrar">
    </form>
</div>