
<div class="container-form">
    <h2>Criar tarefa</h2>
    <form action="/tasks/create" method="post" class="form">
        <div class="form-control">
            <label for="title">Titulo:</label>
            <input type="text" name="title" placeholder="Digite o titulo">
        </div>
        <div class="form-control">
            <label for="description">Descrição:</label>
            <textarea name="description" placeholder="Digite a tarefa"></textarea>
        </div>
        <input type="submit" value="Enviar" class="buttom-theme-color">
    </form>
</div>